nameOverride: ""
fullnameOverride: ""

global:
  # used when postgres.enabled = false
  # has to have fields host, user, password
  dbSecretOverride:

  # used when nats.enabled = false
  natsHost:
  natsPort:

  # used only by data-importer (for now) to import stations
  nsApiKey: ""

data_importer:
  enabled: true
  schedule: "0 2 * * *"
  image:
    repository: ghcr.io/modprobe/kedeng-data-importer
    pullPolicy: Always
    tag: latest
  imagePullSecrets:
    - ghcr-pullsecret
  podAnnotations: {}
  podLabels: {}

receiver:
  replicaCount: 1
  config:
    ndovZmqUrl: "tcp://pubsub.besteffort.ndovloket.nl:7664"
  image:
    repository: ghcr.io/modprobe/kedeng-receiver
    pullPolicy: Always
    tag: latest
  imagePullSecrets:
    - ghcr-pullsecret
  podAnnotations: {}
  podLabels: {}
  resources:
    requests:
      cpu: 150m
      memory: 128Mi
    limits:
      cpu: 250m
      memory: 512Mi

persister:
  replicaCount: 1
  autoscaling:
    enabled: true
    minReplicaCount: 1
    maxReplicaCount: 15
  image:
    repository: ghcr.io/modprobe/kedeng-persister
    pullPolicy: Always
    tag: latest
  imagePullSecrets:
    - ghcr-pullsecret
  podAnnotations: {}
  podLabels: {}
  env: []
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 100m
      memory: 256Mi

api:
  replicaCount: 1
  image:
    repository: ghcr.io/modprobe/kedeng-api
    pullPolicy: Always
    tag: latest
  imagePullSecrets:
    - ghcr-pullsecret
  podAnnotations: {}
  podLabels: {}
  env: []
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 1024Mi
  ingress:
    enabled: true
    host: api.kedeng.t8n.io
    annotations: {}

nats:
  enabled: true
  # fullnameOverride: kedeng-nats
  config:
    jetstream:
      enabled: true
  promExporter:
    enabled: true
    podMonitor:
      enabled: true

postgres:
  enabled: true
  replicaCount: 1
  pooler:
    enabled: true
    replicas: 3
  podMonitor:
    enabled: true
  backup:
    enabled: true
    storageConfig:
      destinationPath: "s3://kedeng-db-backups/"
      endpointURL: "http://minio.minio.svc.cluster.local:9000"
      s3Credentials:
        accessKeyId: secretValue
        secretAccessKey: secretValue

influxdb:
  enabled: true

  adminUser: admin
  adminToken: ""
  adminPassword: ""
  org: kedeng
  bucket: train_positions

  replicaCount: 1
  image:
    repository: influxdb
    tag: 2.7-alpine
    pullPolicy: IfNotPresent
  pvc:
    size: 25G
    accessModes:
      - ReadWriteOnce
  ingress:
    enabled: true
    host: influx.kedeng.dev.t8n.io
    annotations: {}

redis:
  enabled: true
  image:
    repository: redis
    tag: 8-alpine
    pullPolicy: IfNotPresent
