x-persister: &persister
  image: node:24
  env_file:
    - .env
  command: bash -c "corepack enable && pnpm install && pnpm --filter=@alxt/kedeng-persister run dev"
  restart: no
  working_dir: /app
  volumes:
    - ".:/app"
    - "persister_node_modules:/app/node_modules"
  depends_on:
    - nats
    - db

services:
  receiver:
    build:
      context: ./packages/receiver
      dockerfile: Dockerfile
    env_file:
      - .env
    depends_on:
      - nats

  persister-das:
    <<: *persister
    environment:
      KEDENG_PERSISTER_NATS_STREAM: DAS
  persister-dvs:
    <<: *persister
    environment:
      KEDENG_PERSISTER_NATS_STREAM: DVS
  persister-rit:
    <<: *persister
    environment:
      KEDENG_PERSISTER_NATS_STREAM: RIT
  persister-pos:
    <<: *persister
    environment:
      KEDENG_PERSISTER_NATS_STREAM: POS

  nats:
    image: "nats:2-alpine"
    command: [
      "-js", 
      "--http_port", "8222", 
      "--user", "${NATS_USER}", 
      "--pass", "${NATS_PASSWORD}",
      "-sd", "/data",
      ]
    ports:
      - "4222:4222"
      - "8222:8222"
    volumes:
      - "nats:/data"

  db:
    image: postgres:17.2
    environment:
      POSTGRES_USER: ${DB_USER:-app}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-supersecret}
      POSTGRES_DB: ${DB_NAME:-kedeng}
    ports:
      - "5432:5432"

  influx:
    image: influxdb:2.7-alpine
    ports:
      - "8086:8086"
    volumes:
      - "influx:/var/lib/influxdb3"
    environment:
      DOCKER_INFLUXDB_INIT_MODE: setup
      DOCKER_INFLUXDB_INIT_USERNAME: ${INFLUX_USER:-admin}
      DOCKER_INFLUXDB_INIT_PASSWORD: ${INFLUX_PASSWORD:-supersecret}
      DOCKER_INFLUXDB_INIT_ORG: ${INFLUX_ORG:-kedeng}
      DOCKER_INFLUXDB_INIT_BUCKET: ${INFLUX_BUCKET:-infoplus_pos}
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: ${INFLUX_TOKEN:-thisisinsecure}

volumes:
  nats:
  persister_node_modules:
  influx: