services:
  receiver:
    build:
      context: ./packages/receiver
      dockerfile: Dockerfile
    env_file:
      - .env
    depends_on:
      - nats

  persister:
    image: node:24
    env_file:
      - .env
    command: bash -c "corepack enable && pnpm install && pnpm run dev"
    restart: no
    working_dir: /app
    volumes:
      - "./packages/persister:/app"
      - "persister_node_modules:/app/node_modules"
    depends_on:
      - nats
      - db

  nats:
    image: "nats:2-alpine"
    command: [
      "-js", 
      "--http_port", "8222", 
      "--user", "${NATS_USER}", 
      "--pass", "${NATS_PASSWORD}",
      "-sd", "/data",
      ]
    ports:
      - "4222:4222"
      - "8222:8222"
    volumes:
      - "nats:/data"

  db:
    image: timescale/timescaledb:latest-pg17
    environment:
      POSTGRES_USER: ${DB_USER:-app}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-supersecret}
      POSTGRES_DB: ${DB_NAME:-kedeng}
      TIMESCALEDB_TELEMETRY: "off"
    ports:
      - "5432:5432"

volumes:
  nats:
  persister_node_modules: