---
apiVersion: v1
kind: Service

metadata:
  name: {{ include "kedeng.fullname" . }}-api
  labels:
    {{- include "kedeng.labels" . | nindent 4 }}
    app.kubernetes.io/component: api

spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      protocol: TCP
      targetPort: 8080

  selector:
    {{- include "kedeng.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: api

