{{- if .Values.redis.enabled -}}
apiVersion: v1
kind: Service

metadata:
  name: {{ include "kedeng.fullname" . }}-redis
  labels:
    {{- include "kedeng.labels" . | nindent 4 }}
    app.kubernetes.io/component: redis

spec:
  type: ClusterIP
  ports:
    - name: redis
      port: 6379
      protocol: TCP
      targetPort: 6379
  
  selector:
    {{- include "kedeng.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: redis
{{- end -}}